.blogpost {
  background-color: var(--background-color-main);
  border-radius: var(--border-radius-small);
  padding: 0.5rem;
  color: var(--text-color-main);
  padding: 1rem;
  font-size: var(--font-small);
}

.blogtitle {
  display: inline;
  text-decoration: none;
  font-size: var(--font-large);
  color: var(--text-color-main);
  font-family: "Syne", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: color 300ms;
  font-weight: 600;
}

.blogtitle:hover {
  color: var(--main-color);
}

.postLink {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.categoryDiv,
.dateDiv {
  display: flex;
  justify-content: space-between;
  width: max-content;
  gap: 0.5rem;
  align-items: center;
  font-family: "Syne", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
}

.categoryIcon,
.dateIcon {
  border-radius: 0.2rem;
  padding: 0.2rem;
  color: white;
  background-color: var(--main-color);
}

.dateAndCategoryDiv {
  display: flex;
  justify-content: space-between;
  width: max-content;
  gap: 0.7rem;
  font-weight: 100;
}

.postPreviewText,
.dateAndCategoryDiv,
.wordsAndMinutesDiv {
  margin-top: 1rem;
  font-family: "Syne", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wordsAndMinutesDiv {
  opacity: 0.6;
}
.postPreviewText {
  font-weight: 600;
  font-size: var(--font-small);
}

.loading,
.empty {
  color: var(--text-color-main);
}
