.blogpost {
    background-color:var(--background-color-main);
    border-radius: var(--border-radius-small);
    padding: 0.5rem;
    color: var(--text-color-main);
}


.blogtitle {
    font-size: 3rem;
    color: var(--text-color-main);
}

.postLink {
    display: inline-block; 
    text-decoration: none;
    color:inherit;
}

