.post {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5rem;
    background-color:var(--background-color-main);
    border-radius: var(--border-radius-small);
    padding: 1rem;
    color: var(--text-color-main);
}