.post {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
  background-color: var(--background-color-main);
  border-radius: var(--border-radius-small);
  padding: 1rem;
  color: var(--text-color-main);
  font-size: var(--font-small);
}

.postTitle {
  font-size: var(--font-large);
  font-weight: 600;
}

.postBody {
  margin-top: 2rem;
  font-weight: 500;
  font-family: "Syne", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dateAndCategoryDiv {
  display: flex;
  width: max-content;
  gap: 1rem;
  justify-content: space-between;
}

.categoryDiv,
.dateDiv {
  display: flex;
  justify-content: space-between;
  width: max-content;
  gap: 0.5rem;
  align-items: center;
  font-family: "Syne", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
}

.categoryIcon,
.dateIcon {
  border-radius: 0.2rem;
  padding: 0.2rem;
  color: white;
  background-color: var(--main-color);
}

.wordsAndMinutesDiv {
  font-weight: 100;
  opacity: 0.6;
}

.empty,
.loading {
  color: var(--text-color-main);
}

@media (max-width: 768px) {
  .post {
    width: 95vw;
  }
}
