.profilepic {
  max-width: 70%;
  height: auto;
  border-radius: var(--border-radius-small);
  margin: 1rem;
}

.profilecard {
  font-size: var(--font-small);
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-main);
  align-items: center;
  border-radius: var(--border-radius-small);
  width: 100%;
  padding: 0.5rem;
  color: var(--text-color-main);
  gap: 0.3rem;
}

.shortDescription {
  text-align: center;
  font-weight: 200;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 0.9rem;
text-wrap: pretty;
}

.name {
  font-family: "Lilita One", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.4rem;
}


@media (max-width:786px) {
  .profilepic {
    max-width: 40%;
  }
}