.profilepic {
  max-width: 90%;
  height: auto;
  border-radius: var(--border-radius-small);
  margin: 1rem;
}

.profilecard {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-main);
  align-items: center;
  border-radius: var(--border-radius-small);
  width: 100%;
  padding: 0.5rem;
  color: var(--text-color-main);
}

.shortDescription {
  font-weight: 200;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
  



.name {
  font-family: "Lilita One", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}