.footer {
  font-size: var(--font-small);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius-small);
  width: 95vw;
  margin: auto;
  color: var(--text-color-main);
  opacity: 0.3;
  padding: 0.1rem;
}

.attribution {
  color: var(--text-color-main);
  text-decoration: underline;
}
