.aboutMeDiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background-color-main);
    color:var(--text-color-main);
    border-radius: var(--border-radius-small);
    padding: 1rem;
}