.registerFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.registerForm {
  font-size: var(--font-small);
  color: var(--text-color-main);
  border-radius: var(--border-radius-small);
  padding: 1rem;
  gap: 1.3rem;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-main);
  width: 28%;
}

.submitRegisterButton {
  min-height: 3.2rem;
  background-color: var(--main-color);
  border: none;
  border-radius: var(--border-radius-small);
  color: white;
  cursor: pointer;
}

.createNewAccount {
  min-height: 2.5rem;
}

.formDiv {
  display: flex;
  flex-direction: column;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.formDiv > input {
  min-height: 2.2rem;
  color: var(--text-color-main);
}

.h2,
.a {
  text-align: center;
  color: var(--main-color);
}

.error {
  color: var(--error-color);
  font-size: var(--font-small);
}

.logo {
  position: absolute;
  display: flex;
  border-radius: var(--border-radius-small);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 500ms;
  padding: 0.5rem;
  color: var(--main-color);
  width: 7rem;
  margin: 1rem;
  border: 2px solid var(--main-color);
}

.logo:hover {
  background-color: var(--hover-color-main);
}

@media (max-width: 768px) {
  .registerForm {
    min-width: 80%;
  }
}
